body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.developer {
    background-color: white;
    padding: 20px;
    margin: 20px;
    flex-basis: 45%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.developer img {
    max-width: 100%;
    height: auto;
}

.developer h1{
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.developer p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.skills {
    margin-top: 20px;
    text-align:center;
}

.skills h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    margin-bottom: 5px;
}


footer{
    text-align: center;
}